*{
    margin: 0;
    padding:0;
}

h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    background-size: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score , #comp-score{
    font-size:4rem;
}

.msg{
    display: flex;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
}

#msg{
    border-radius: 1rem;
    padding: 1rem; 
    background-color:#081b31 ;
    color: #fff;
    font-size: 2rem;  
    display: inline;  
}