
.Name {
    font-size: 24px;
    color: white;
    margin-left: 10px;
}
.profile {
    background: none;
    border: none;
    cursor: pointer;
}

/* Team Members Section */
#team-members {
    background-color: #032139;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#team-members ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#team-members li {
    margin: 20px;
    padding: 20px;
    border: 1px solid #06104a;
    border-radius: 10px;
    width: 250px;
    background-color: #ffffff;
}
#team-members h3 {
    margin: 0;
    color: #06104a;
}
#team-members h2 {
    margin: 0;
    color:white;
}

/* Timeline Section */
.timeline {
    background: linear-gradient(135deg, #e0eafc, #cfdef3);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
.timeline h2 {
    color: #06104a;
    font-family: 'Arial', sans-serif;
}
.timeline ul {
    list-style: none;
    padding: 0;
    position: relative;
}
.timeline li {
    position: relative;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-left: 3px solid #06104a;
    transition: transform 0.3s ease-in-out;
}
.timeline li:before {
    content: '';
    position: absolute;
    left: -12px;
    top: 15px;
    width: 15px;
    height: 15px;
    background-color: #06104a;
    border-radius: 50%;
    border: 2px solid #e0eafc;
}
.timeline li .year {
    font-weight: bold;
    color: #06104a;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
}
.timeline li:hover:before {
    background-color: #ff8c42;
}
.timeline li .extra-info {
    display: none;
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}
.timeline li:hover .extra-info {
    display: block;
}
